
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1, h2, h3 {
    color: rgb(195, 222, 245);
    font-stretch: expanded;
}

td {
  padding: 1px;
  padding-right: 15px;
}

table {
  padding-bottom: 8px;
}

button{
  background: rgb(38, 128, 211);
  color: #e4e8f0;
  border-radius: 12px;
  border-style: none;
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 16px;
}

thead{
    font-weight: bold;
    color: rgb(234, 238, 241);
}

input {
  background-color: rgb(243, 243, 247);
  border-radius: 2px;
  border-style: solid;
}

.titles {
  color: rgb(206, 219, 228);
  font-style: italic;
}

.bordered {
  border-style: solid;
  border-radius: 5px;
  background: rgb(76, 77, 80);
  padding: 16px;
}

.authors {
  color: rgb(210, 221, 230);
}

.likes {
  color: rgb(241, 142, 225);
}

.adder {
  color: rgb(210, 222, 226);
}

.notification{
  color: rgb(250, 239, 239);
  background:rgb(100, 155, 173);
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.error{
  color: rgb(114, 21, 21);
  background:rgb(248, 166, 166);
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}